body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
  color: #eeeeee;
  padding: 1rem;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
span::-webkit-scrollbar-track {
  background-color: transparent !important;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
span::-webkit-scrollbar-thumb {
  background-color: rgba(3, 201, 136, 0.4) !important;
  border-radius: 1rem;
}
body::-webkit-scrollbar,
div::-webkit-scrollbar,
span::-webkit-scrollbar {
  background-color: transparent !important;
  width: 10px !important;
  height: 10px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col {
  padding: 0 !important;
}

.w-split-horizontal > .w-split-bar {
  width: 3px !important;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
